.classes {
    margin-top: var(--space);
    padding: 100px var(--space);
    background-image: url('../img/stock/for-cta.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 50vw -5vw #000;
    color: #fff;
    transform-style: preserve-3d;
    perspective: 300;

    h3 {
        font-size: 30px;
        text-align: center;
        max-width: 600px;
        line-height: 1.5;
        margin: auto;
    }

    a {
        line-height: 1.5;
        text-decoration: none;
        color: var(--main-bg-color);
        background: var(--accent-color);
        padding: 15px 25px;
        border-radius: 25px;
        display: block;
        margin: var(--space) auto;
        width: 100%;
        max-width: 400px;
        text-align: center;
        transition: 0.25s;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;

        &:hover {
            transform: scale(1.25);
            -webkit-transform: scale(1.25);
            -moz-transform: scale(1.25);
            -ms-transform: scale(1.25);
            -o-transform: scale(1.25);
}
    }
}