.gallery {
    --hide: -200px;
    overflow: hidden;
    position: relative;

    &:hover {
        --hide: -25px;
    }

    &::before,
    &::after {
        display: block;
        cursor: pointer;
        text-transform: uppercase;
        top: 0;
        bottom: 0;
        height: 20px;
        font-size: 20px;
        padding: 25px 50px;
        margin: auto;
        position: absolute;
        z-index: 1;
        color: #fff;
        background: var(--accent-color);
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.15, 1.55);
        @media (max-width: 640px) {
            opacity: 0.5;
        }
    }

    &::before {
        content: 'Anterior';
        left: var(--hide);
        border-radius: 0 25px 25px 0;
        -webkit-border-radius: 0 25px 25px 0;
        -moz-border-radius: 0 25px 25px 0;
        -ms-border-radius: 0 25px 25px 0;
        -o-border-radius: 0 25px 25px 0;
        @media (max-width: 640px) {
            content: '<';
        }
    }

    &::after {
        content: 'Siguiente';
        text-align: right;
        right: var(--hide);
        border-radius: 25px 0 0 25px;
        -webkit-border-radius: 25px 0 0 25px;
        -moz-border-radius: 25px 0 0 25px;
        -ms-border-radius: 25px 0 0 25px;
        -o-border-radius: 25px 0 0 25px;
        @media (max-width: 640px) {
            content: '>';
        }
    }

    h2 {
        color: var(--accent-color);
        font-size: 30px;

        @media (max-width: 640px) {
            font-size: 20px;
        }
    }
}

.gallery>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    position: relative;
    cursor: pointer;
    user-select: none;

    li {
        margin: auto;
    }

    img {
        display: block;
        object-fit: contain;
        width: 100vw;
        height: 50vh;

        @media (min-width: 640px) {
            height: 70vh;
        }
    }

    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}