:root {
    --space: 20px;
    --layout-space: 200px;
    --main-bg-color: #fff;
    --main-font-color: #101010;
    --accent-color: #2a2ed6;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');